type logsaver, domain;
type logsaver_exec, exec_type, vendor_file_type, file_type;

typeattribute logsaver coredomain;
init_daemon_domain(logsaver)

allow logsaver kernel:system { syslog_read syslog_mod };
allow logsaver kmsg_device:chr_file { open read write };
allow logsaver self:capability dac_override;
allow logsaver self:capability2 syslog;
allow logsaver misc_logd_file:dir { add_name search write };
allow logsaver misc_logd_file:file { create open write getattr read };
